go 1.25.1

use (
	./examples/a2a-demo
	./examples/programmatic-arena
	./examples/sdk-evals
	./examples/workflow-support/sdk-example
	./pkg
	./runtime
	./sdk
	./tools/arena
	./tools/inspect-state
	./tools/packc
	./tools/schema-gen
)
